:root {
  --background-color: #eeeeeb;
  --text-color: #000000;
  --primary-color: #febc57;
  --button-background: #030204;
  --button-text-color: #eeeeeb;
  --done-color: #ffa319;
  --animation-color: #b0f1e6;
  --notification-color: #f0a692;
}

[data-theme='dark'] {
  --background-color: #121212;
  --text-color: #ffffffdf;
  --primary-color: #bb86fc;
  --button-background: #bb86fc;
  --button-text-color: #000000;
  --done-color: #9a13f4;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

button {
  background-color: var(--button-background);
  color: var(--button-text-color);
}

button:hover {
  opacity: 0.8;
}
